body {
    background-color: black;
    color: white;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;    
}

.topNavBar {
    padding: 20px 16px 20px 16px;
}
.topNavBar > a {
    float: left;
}
.topNavBar > nav {
    float: right;
}
.topNavBar > nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topNavBar > nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar > nav > ul > li > a {
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.7);
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar > nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial black"; 
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}